.gallery__list {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	flex-wrap: wrap;

	justify-content: space-between;
	
	margin-bottom: 55px;
}

.gallery__item {
	width: 32%;
	height: 300px;

	margin-bottom: 2%;

	// background-color: red;

	position: relative;
	overflow: hidden;
	
	transition: 0.7s;

	&:hover:before {
		content: '';
		display: block;
		width: 100%;
		height: 100%;

		background-color: rgba(#000, 0.7);
	}
	
	&:hover .gallery__icon {
		opacity: 1;
	}
	
	@include netbook {
		width: 49%;
	}
	
	@include phone {
		width: 100%;
	}
}
.gallery__item img {
	height: 100%;
	width: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);

}

.gallery__icon {

	width: 50px;
	height: 50px;

	border-radius: 50%;
	border: 1px solid #fff;
	

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	opacity: 0;
	
	transition: 0.7s;
	
	&:hover {
		background-color: #fff;
	}
	
	&:hover .gallery__icon-loupe {
		fill: $blue;
	}
}

.gallery__icon-loupe {
	fill: #fff;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	transition: 0.7s;
}
