.modal {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100vw;
	height: 100vh;
	
	background-color: rgba(#7C458f, 0.9);
	
	display: none;
}

.modal__inner {
	width: 50%;
	height: 50%;
	background-color: #fff;
	
	border-radius: 5px;
	
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	
	z-index: 1000;
	
	display: none;
}

.modal__close {
	width: 25px;
	height: 25px;
	
	background-color: transparent;
	
	position: absolute;
	
	top: 20px;
	right: 20px;
	
	&:before, &:after {
		content: '';
		width: 3px;
		height: 20px;
		
		background-color: #7C458f;
		
		position: absolute;
		top: 50%;
		right: 50%;
		
		transition: .7s;
		
		
	}
	
	&:hover:before {
			background-color: $blue;
		}
	&:hover:after {
			background-color: $blue;
		}
	&:before {
		transform: translate(-50%, -50%) rotate(45deg);
	}
	
	&:after {
		transform:  translate(-50%, -50%) rotate(-45deg);
	}
	
}