.preloader {
	
	position: fixed;
	top: 0;
	left: 0; 
	
	width: 100%;
	height: 100%;
	background-color: #fff;
	
	
	
	z-index: 1000;
	
	
	overflow: hidden;
	
	opacity: 1;
	visibility: visible;
	
	transition: 1s all;
}

.preloader_done {
	opacity: 0;
	visibility: hidden;
}

.preloader__inner {
	
	
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.preloader__list {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	
	justify-content: space-between;
}

.preloader__item {
	font-size: 0;
	width: 6px;
	height: 5px;
	border-radius: 5px;
	background-color: $orange;
	
	margin-right: 5px;
	
	animation: preloader 2s linear infinite;
	
	@keyframes preloader {
		0% {
			height: 5px
		}
		
		50% {
			height: 150px;
		}
		
		100% {
			height: 5px;
		}
	}
	
	&:nth-child(2) {
		
		@keyframes preloader {
		0% {
			height: 5px
		}
		
		30% {
		height: 150px;	
		}
		50% {
			height: 50px;
		}
		
		100% {
			height: 5px;
		}
	}
	
}
}