.head_price {
	background-image: none;
	margin-bottom: 70px;


}
.price {
	margin-bottom: 50px;
}
.price .head_price {
	margin-bottom: -20px;
}

.head__title_price {
	color: #7C458f;
	font-size: rem(73px);
	font-weight: 900;

	@include tablet-a {
		font-size: rem(43px);
	}
}

.head__title_smallprice {
	color: #7C458f;
	font-size: rem(51px);

	@include netbook {
		display: inline-block;
		margin-left: 20px;
	}

	@include tablet {
		display: block;
		margin-left: 0;
	}
	@include tablet-a {
		font-size: rem(31px);
		display: inline-block;
		margin-left: 20px;
	}

	@include phone {
		display: block;
		margin-left: 0;
	}
}

.head__description_price {
	background-image: url(../img/bg-blue.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	border-radius: 5px;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	align-items: center;
	justify-content: flex-start;

	margin-top: -15px;
	margin-left: 30px;

	@include tablet-a {
		height: 100%;
		display: none;
	}
}

.head__text_price {
	font-size: rem(53px);
	font-weight: 900;
	text-transform: uppercase;
	padding-left: 10%;
	white-space: nowrap;
	line-height: 7.2rem;
	-ms-flex-item-align: start;
	align-self: flex-start;
	
	@include tablet-a {
		font-size: rem(65px);
		margin-top: 0;
	}

	animation: blink 1s linear infinite;

	@keyframes blink {
		0% {
			color: #fff;
		}
		51% {
			color: rgba(#fff, 0.5);
		}
		100% {
			color: #fff;
		}
	}

	@include tablet {
		padding-left: 5%;
		//		text-align: center;
		//		margin-top: 5%;
	}

	@include tablet-a {
		font-size: rem(33px);

	}
}

.price__form-block {
	background-image: url(../img/bg-blue.jpg);
	background-repeat: no-repeat;
	background-size: cover;

	padding: 5% 12%;
	
	@include netbook {
		padding: 5%;
	}
	@include phone {
		padding: 7% -0px;
	}
	
}

.price__title {
	width: 60%;

	text-align: center;
	text-transform: uppercase;
	font-size: rem(36px);
	font-weight: bold;


	margin: 0 auto;

	animation: blink 1s linear infinite;

	@keyframes blink {
		0% {
			color: #fff;
		}
		51% {
			color: rgba(#fff, 0.5);
		}
		100% {
			color: #fff;
		}
	}
	
	@include tablet-a {
		font-size: rem(24px);
		white-space: nowrap;
	}
}
.price__title:first-of-type {
	white-space: normal;
}

.price__form-row {
	margin-top: 30px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	justify-content: space-between;

	color: #fff;

	font-weight: 700;
	font-size: rem(19px);
	text-transform: uppercase;
	
	@include tablet {
		flex-direction: column;
	}
	
	@include tablet-a {
		font-size: rem(22px);
	}
}

.price__quantity {
	width: 30%;
	
	@include tablet {
		width: 60%;
		margin: 0 auto;
	}
	
	@include tablet-a {
		width: 90%;
		
	}
}

.price__quantity-row {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	margin-bottom: 8%;
}

.price__quantity-title {
	margin-right: auto;
	
}

.price__quantity-btn {
	background-color: #fff;
	height: 33px;
	width: 33px;
	border-radius: 5px;

	font-size: rem(20px);
	color: #000;



}

.price__quantity-number {
	width: 30px;
	height: 30px;

	color: #fff;
	text-align: center;

	font-weight: 700;
	font-size: rem(19px);
	text-transform: uppercase;

	background-color: transparent;

	border: none;

	padding: 0 5px;
}

.price__checkboxes {
	width: 30%;
	@include tablet {
		width: 60%;
		margin: 0 auto;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
		align-items: center;
		
		margin-bottom: 2%;
	}
	
	@include tablet-a {
		width: 90%;
		
	}
}

.price__checkboxes-row {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
	
	@include tablet {width: 49%;}
}

.price__checkboxes-row_first {
	@include tablet {
		margin-right: 2%;
	}
	
}

.price__checkboxes-checkbox {
	@include tablet {
		align-self: center;
	}
}
.price__inputs {
	width: 30%;
	margin-bottom: 3%;
	
	@include tablet {
		width: 60%;
		margin: 0 auto;
	}
	
	@include tablet-a {
		width: 90%;
		
	}
}

.price__inputs-row {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;

	margin-bottom: 3%;

}

.price__input-text {
	margin-right: auto;
	align-self: center;
	font-weight: normal;
}
.price__checkboxes-label {
	font-weight: normal;
}
.price__quantity-title {
	font-weight: normal;
}
.price__input-input {
	height: 48px;
	width: 170px;
	padding: 5px;
	border: none;

	border-radius: 5px;
}

.price__confid {
	color: #fff;

	font-weight: 500;
	font-size: rem(16px);
	text-transform: uppercase;
	width: 75%;
	margin: 0 auto;
	
	
	@include tablet {
		display: block;
		width: 60%;
		margin: 0 auto;
	}
}

.price__btn {
	width: 300px;

	text-align: center;

	color: #fff;
	letter-spacing: 3px;
	font-weight: 500;
	text-transform: uppercase;

	background-color: $orange;
	border: none;
	border-radius: 5px;

	display: block;
	margin: 0 auto;
	margin-top: 2%;
	padding: 18px 0;
	font-weight: bold;
	margin-bottom: 30px;

}

.price__confid-checkbox {
	margin-right: 10px;
}

.price__confid-link {
	color: #fff;
	text-decoration: none;

	transition: 0.7s;
	&:hover {
		color: $orange;
	}
}
