.promo-form {

	color: #fff;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 100%;
	
	@include tablet {
		flex-direction: row;
		justify-content: space-between;
		position: relative;
		align-items: center;
	}

	@include tablet-a {
		position: static;

		flex-direction: column;
	}
}
.promo-form-text {
	width: 75%;
	display: inline-block;
	vertical-align: top;
	font-size: 0.8rem;
	text-align: center;
	font-weight: 500;
}
.promo-form__wrapper {
	// background-color: rgba(102, 50, 122, 0.8);
	padding: 15px 0;
	margin-top: 40px;
}
.promo-form__label {
	text-align: center;
	font-weight: 700;
	font-size: rem(19px);
	text-transform: uppercase;
	font-weight: normal;
	margin-bottom: 5%;
	
	@include tablet {
		
		
		font-size: rem(16px);
		margin-right: 3%;
		margin-bottom: 0;
		
	}
	
	@include tablet-a {
		margin-bottom: 3%;
		width: 100%;
		margin-right: 0;
	}
}

.promo-form__input {
	width: 75%;
	border-radius: 5px;
	font-size: 22px;
	color: #53586b;
	
	border: 0;

	font-weight: 400;
	padding: 14px;
	
	display: block;
	
	margin: 10px auto;
	
	@include tablet {
		width: 100%;
		margin-top: 0%;
	}
	
	@include tablet-a {
		width: 75%;
	}
}
.promo-form__title {
	width: 75%;
	text-align: left;
	margin: 10px auto;
	font-size: 2.2em;
	text-transform: uppercase;
	
	@include tablet {
		width: 50%;
	}
	
	@include tablet-a {
		text-align: center;
	}
}

.promo-form__label_checkbox {
	width: 75%;
	margin: 0 auto;
	margin-bottom: 3%;
	font-size: 0.8rem;
	padding-left: 18px;
	
	text-align: center;
	margin-top: 20px;
	
	font-weight: 500;
	
	@include tablet {
		position: absolute;
		
		top: 105%;
		left: 5%;
	}
	
	@include tablet-a {
		position: static;
	}
}

.promo-form__checkbox {
	display: inline-block;
	margin-right: 5px;
}
.promo-form__btn
{
	font-weight: 700;
	font-size: rem(20px);
	color: #fff;
	text-transform: uppercase;
	
	width: 35%;
	
	border-radius: 5px;
	
	margin: 0 auto;
	padding: 4%;
	margin-top: 25px;
	background-color: $orange;
	
	letter-spacing: 3px;
	
	border: 1px solid $orange;
	
	@include tablet {
		width: 25%;
		height: 55px;
		padding: 0;
		
		font-size: rem(12px);
		align-self: center;
		margin-top: 50px;
	}
	@include tablet-a {
		width: 75%;
	}
	@include phone {
		margin-top: 15vh;
	}
}

.promo-form-link {
	display: inline-block;
	color: #7C458f;	
	text-decoration: none;
	transition: 0.7s;
	
	&:hover {
		color: $orange;
	}
}