.promo {
	height: 100vh;
	width: 100%;

	background-image: url(../img/promo/promo_bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	position: relative;

	color: #7b4590;
	
//	margin-bottom: 75px;

@include tablet {
	flex-direction: column;
	height: auto;
}
}
.promo:after {
	content: '';
	display: inline-block;
	width: 70%;
	height: 70%;
	background-image: url('../img/pattern_1.png');
	background-repeat: no-repeat;
	background-position: bottom right;
	background-size: contain;
	position: absolute;
	right: 0;
	bottom: 0;
}

.promo__content {
	width: 60%;
	padding: 0 5%;
	margin: 0 auto;
	margin-bottom: 3%;
	@include tablet {
		
		margin: 0;
		margin-bottom: 5%;
	}
}

.promo__date {
	font-weight: 800;
	text-transform: uppercase;
	font-size: rem(48px);
	margin-top: 40px;
	font-weight: normal;
	
	@include tablet-a {
		font-size: rem(40px);
	}
	
	@include phone {
		font-size: rem(25px);
	}
}
.promo__logo {
    width: 100%;
//	height: 305px;
    margin-top: 12%;
    margin-bottom: 6%;
}
.promo__place {
	font-size: rem(31px);
	
	line-height: 1;
	text-align: left;
	margin-top: 15px;
}
.promo__place span {
	font-size: rem(40px);
}

.promo__text {
	font-weight: 800;
	font-size: rem(42px);
	text-transform: uppercase;
	
	@include netbook {
		font-size: rem(30px);
	}
	
	@include tablet-a {
		font-size: rem(34px);
	}
	
	@include phone {
		font-size: rem(18px);
	}
}

.promo__text_opacity {
	text-transform: none;
	color: rgba(#fff, 0.7);
	margin-bottom: 5%;
}

.promo__title {
	font-weight: 800;
	font-size: rem(120px);
	margin-bottom: 2%;
	text-transform: uppercase;
	
	display: inline-block;
	margin: 0 auto;
//	width: 100%;


position: relative;


&:after {
	content: '';
	display: block;

	width: 100%;
	height: 1px;

	position: absolute;
	left: 0;
	bottom: 0;

	background-color: $orange;
}

@include netbook {
	font-size: rem(100px);
}

@include tablet-a {
	font-size: rem(80px);
}

@include phone {
	font-size: rem(46px);
}
}

.promo__description {
	font-size: rem(26px);
	font-weight: 300;
	margin-bottom: 5%;
	
	@include tablet-a {
		font-size: rem(20px);
	}
}
.promo__form {
	width: 35%;
	

	background-color: rgba(102, 50, 122, 0.8);
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	
	align-items: center;
	z-index: 100;
	margin-top: 55px;
	
	@include tablet {
		justify-content: flex-start;
		padding: 3%;
		padding-bottom: 15%;
		width: 100%;
//		height: 100%
}

@include phone {
//		height: 100%;
}
}
