.reviews {
	background-image: url(../img/bg-blue.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	
	margin-bottom: 85px;
}

.head_reviews {
	background-image: none;
	
	@include tablet {
		margin-bottom: 0;
	}
}

.reviews__block {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	
	padding-left: 10%;
	
	@include tablet {
		flex-direction: column;
		padding: 0 5%;
	}
}

.reviews__slider{
	width: 50%;
		height: 559px;
	
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	
	position: relative;
	
	overflow: hidden;
	
	margin-bottom: 55px;
	margin-right: 4%;
	
	@include tablet {
		width: 100%;
	}
}

.reviews__slide {
	width: 100%;
	height: 100%;
//	height: 60%;
	object-fit: cover;

}



.reviews__point {
	height: 86%;
	width: 20%;
	
	margin-left: 4%;
	
	transition: 0.7s;
	
	&:hover {
		border: 3px solid $orange;
	}
}

.reviews__content-block {
	width: 50%;
	overflow: hidden;
	
	
	@include tablet {
		width: 100%;
		margin-bottom: 5%;
	}
}
.reviews__content {
//	width: 50%;
	display: none;
	padding-right: 5%;
	
	transform: translateX(100%);
	
	
	
	
	&:first-child {
		transform: translateX(0%);
	}
}

.reviews__content_active {
	display: block;
	
	transition: .7s;

	
}

.reviews__name {
	font-size: rem(26px);
	font-weight: 900;
	text-transform: uppercase;
	margin-bottom: 2%;
	color: #fff;
	
}

.reviews__position {
	color: #eee;
	font-size: rem(16px);
text-transform: uppercase;
margin-bottom: 10%;
	
	@include tablet {
		margin-bottom: 5%;
	}
}

.reviews__comment {
	color: #fff;
	font-size: rem(14px);
	
	@include tablet {
		font-size: rem(16px);
	}
}

.rewiews__icon-clever {
	width: 15px;
	height: 15px;
	fill: green;
}

.reviews__slider {
	position: relative;
	
	.slick-next {
	position: absolute;
	top: 50%;
	left: 93%;
	transform: translateY(-50%);
	
	font-size: 0;
	
	width: 20px;
	height: 20px;
	
	background-color: transparent;
	outline: none;
	
	border-right: 3px solid #aaa;
	border-top: 3px solid #aaa;
	
	transform: rotate(45deg);
	
	transition: 0.7s;
	
	&:hover {
		border-right: 3px solid $orange;
	border-top: 3px solid $orange;
	}
}

.slick-prev {
	z-index: 2;
	position: absolute;
	top: 50%;
	right: 93%;
	transform: translateY(-50%);
	
	font-size: 0;
	
	width: 20px;
	height: 20px;
	
	background-color: transparent;
	outline: none;
	
	border-left: 3px solid #aaa;
	border-bottom: 3px solid #aaa;
	
	transform: rotate(45deg);
	
	transition: 0.7s;
	
	&:hover {
		border-left: 3px solid $orange;
	border-bottom: 3px solid $orange;
	}
}

.slick-dots {
	position: absolute;
	left: 0;
	bottom: 0;
	
	background-color: rgba(#000, 0.7);
	
	width: 100%;
	height: 20%;
	
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	
	align-items: center;
	
	padding: 2% 0;
	
}
.slick-dots li {
height: 86%;
	width: 20%;
	
	margin-left: 4%;
	
	transition: 0.7s;
	
	&:hover {
		border: 3px solid $orange;
	}
	
	&:first-child {
		background-image: url('../img/rewiews/slide-victoria.jpg');
		background-repeat: no-repeat;
		background-size: cover;
	}
	
	&:nth-child(2) {
		background-image: url('../img/rewiews/slide-larisa.jpg');
		background-repeat: no-repeat;
		background-size: cover;
	}
	
	&:last-child {
		background-image: url('../img/rewiews/slide-karina.jpg');
		background-repeat: no-repeat;
		background-size: cover;
	}
}

.slick-dots li button {
	background-color: transparent;
	font-size: 0;
	
}

.slick-dots .slick-active {
	
	&:hover {
		border: 3px solid $orange;
	}
}
}