.schedule {
	background-image: url(../img/bg-blue.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	
	margin-bottom: 55px;
	padding-bottom: 40px;

}
.schedule_btn_offer {
	margin-top: 0;
}

.container_schedule {
	padding: 4% -0px;
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	justify-content: center;
	
	@include tablet-a {
		flex-direction: column;
		margin: 0 auto;
		width: 60%;
	}
}

.schedule__days {
	margin-right: 2%;
}

.schedule__days-list {

	position: relative;

	&:before {
		content: '';
		display: block;

		width: 1px;
		height: 80%;

		background-color: rgba(#fff, 0.7);

		position: absolute;

		top: 10%;
		right: 10%;
		
		@include tablet-a {

			display: none;
		}


	}
	
	@include tablet-a {
			width: 100%;
		}
}

.schedule__days-item {
	margin-bottom: 10%;

	@include tablet-a {
			margin-bottom: 10px;
		}
}

.schedule__days-day {
	font-size: rem(11px);
	font-weight: 500;
	text-transform: uppercase;

	color: #242732;

	text-align: center;

	padding: 16px 30px;

	background-color: #fff;
	border-radius: 25px;

	transition: 0.7s;
	position: relative;
	z-index: 9;


	&:hover {
		background-color: $orange;
		color: #fff;
	}
	
	@include tablet-a {
			width: 100%;
		}
}

.schedule__days-day_active {
	background-color: $orange;
	color: #fff;
}


.schedule__content {
	width: 45%;

	border-radius: 5px;
	border: 1px solid rgba(#fff, 0.7);

	padding: 4%;
	
	@include tablet-a {
			width: 100%;
		}
}

.schedule__content-item {
	display: none;
}

.schedule__content-item_active {
	display: block;
}

.schedule__content-titles {
	margin-bottom: 4%;
}

.schedule__title {
	font-weight: 900;
	font-size: rem(20px);
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 1%;

}

.schedule__list {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	
	flex-direction: column;
	
	
	
	
	position: relative;
	
	&:before {
		content: '';
		display: block;

		width: 3px;
		height: 100%;
		background-color: #fff;

		position: absolute;
		top: 0;
		left: 0;

	}
}

.schedule__item {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	
	justify-content: space-between;
}


.schedule__time-item {
	color: #fff;
	font-size: rem(14px);

	margin-top: 30px;
	
	position: relative;
	
	padding-left: 20px;
	

	&:before {
		content: '';
		display: inline-block;

		width: 10px;
		height: 10px;

		background-color: $orange;

		border-radius: 50%;

		border: 5px solid #fff;
		
				
		z-index: 9;
		position: absolute;
		top: -5px;
		left: -9px	;
	}


}

.schedule__activity-item {
	background-color: #fff;

	border-radius: 10px;
	margin-bottom: 4.5%;

	padding: 4%;

	position: relative;

	width: 80%;	
	&:before {
		content: '';
		display: block;

		width: 0;
		height: 0;
		
		border-style: solid;
		border-width: 0 0 25px 25px;
		border-color: transparent transparent #fff transparent;

		position: absolute;
		top: 15%;
		left: -25px;
	}
	
	@include tablet {
		width: 60%;
	}
	
	@include phone {
		padding: 20px 10px;
	}
	
}



.schedule__activity-title {
	font-weight: 900;
	font-size: rem(15px);
	text-transform: uppercase;
	margin-bottom: 2%;
	
	@include phone {
		margin-bottom: 10px;
	}
}

.schedule__activity-time {
	color: $orange;
	font-size: rem(11px);
	
	padding-left: 20px;
	
	position: relative;
	
	margin-bottom: 5px;
	
	@include phone {
		margin-bottom: 10px;
	}
	
}

.shedule__icon-clock {
	width: 15px;
	height: 15px;
	
	fill: $orange;
	
	stroke-width: 2;
	
	position: absolute;
	top: -2px;
	left: 0;
	
}


.schedule__activity-types {
	font-family: tahoma, arial, helvetica, sans-serif;
	font-size: rem(16px);
	
	@include phone {
		font-size: rem(11px);
	}
}