include ./common/_mixins
block variables

doctype html
html(lang="Ru ru")
	head
		meta(charset="utf-8")
		meta(content="ie=edge" http-equiv="x-ua-compatible")
		meta(content="width=device-width, initial-scale=1" name="viewport")
		title 
		link( rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous")
		link( rel="icon" href="img/favicon.ico" type="image/x-icon")

		link( rel="shortcut icon" href="img/favicon.ico" type="image/x-icon")
		
		link(rel="stylesheet" type="text/css" href="plugins/slick/slick.css?v=1.6")
		link(rel="stylesheet" type="text/css" href="plugins/modal-video/modal-video.min.css?v=1.6")
		link(rel='stylesheet' href='css/main.css?v=1.6')
	
	body
		include common/preloader.pug
		.wrapper.js-wrapper-preloader
			include common/promo.pug	
			include common/speakers.pug	
			include common/mission.pug
			include common/guests.pug
			include common/price.pug
			include common/for-whom.pug	
			include common/itwas.pug	
			include common/where-will.pug	
			include common/schedule.pug	
			include common/gallery.pug	
			include common/reviews.pug	
			include common/sponsors.pug		
			include common/footer.pug	
			include common/modal.pug	
	
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
	script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnmzO_QZ24TTTCGhY-DWz-ZBh8HBe4YA4&callback=initMap")
	script(src="plugins/modal-video/jquery-modal-video.js")
	script(src="plugins/slick/slick.min.js")
	script(src='js/main.js')

