body,
html {
	height: 100%;
	width: 100%;

	@include phone {
		min-width: 320px;
	}
}


body {
	font-family: 'proxima_nova', Helvetica, sans-serif;
	font-size: 16px; 
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
margin: 0;
	@include phone {
		font-size: 14px;
	}
}



.container {
	margin: 0 auto;
	padding: 0 10%; 
}

button {
	border: 0;
	cursor: pointer;
}

* {
	box-sizing: border-box;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	padding: 0;
}
