
@font-face {
    font-family: 'proxima_nova';
    src: url('../fonts/proxima_nova_bl.woff2') format('woff2'),
         url('../fonts/proxima_nova_bl.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova';
    src: url('../fonts/proxima_nova_th.woff2') format('woff2'),
         url('../fonts/proxima_nova_th.woff') format('woff');
    font-weight: 800;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova';
    src: url('../fonts/proxima_nova_condensed_regular.woff2') format('woff2'),
         url('../fonts/proxima_nova_condensed_regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}





@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-regular.woff2') format('woff2'),
         url('../fonts/roboto-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}





@font-face {
    font-family: 'Anton';
    src: url('../fonts/anton-regular.woff2') format('woff2'),
         url('../fonts/anton-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}