section.for-whom#for-whom
	.container
		h2.for-whom__title для кого
			.for-whom__title-small фестиваль
		.for-whom__video-block
			ul.for-whom__video-list
				li.for-whom__video-item
					.for-whom__video-title Родители, бабушки и дедушки
					.for-whom__video
						a.for-whom__video-link.js-modal-video(href="#" data-video-id="mGuvVi25nzs")
					.for-whom__video-content
					p.for-whom__video-text
						span.for-whom__video-text.for-whom__video-text_bold Родители,
						span.for-whom__video-text_normal  которые хотят построить гармоничные отношения в семье, реализовать свою миссию в родительстве. Желают вырастить успешных и счастливых детей. Хотят достичь согласия в воспитании детей.
					p.for-whom__video-text
						span.for-whom__video-text.for-whom__video-text_bold Дедушки и бабушки
						span.for-whom__video-text_normal , которые хотят лучше понимать своих детей и внуков, вносить свой вклад в процесс воспитания. Стремятся быть в курсе новаторских педагогических подходов.

				li.for-whom__video-item
					.for-whom__video-title Учителя и воспитатели
					.for-whom__video
						a.for-whom__video-link.js-modal-video(href="#" data-video-id='mGuvVi25nzs')
					.for-whom__video-content
					p.for-whom__video-text
						span.for-whom__video-text.for-whom__video-text_bold Учителя
						span.for-whom__video-text_normal , которые стремятся реализовать свой талант и созидательный творческий потенциал вопреки существующей системе авторитарного воспитания в школе. Хотят получить эмоциональный ресурс и новый педагогический опыт.
					p.for-whom__video-text
						span.for-whom__video-text.for-whom__video-text_bold Воспитатели
						span.for-whom__video-text_normal , которые осознают всю важность создания атмосферы радостного проживания периода детства для становления счастливого взрослого в будущем.

				li.for-whom__video-item
					.for-whom__video-title Дети и подростки
					.for-whom__video
						a.for-whom__video-link.js-modal-video(data-video-id='QoXY6rQttGo' href="#")
					.for-whom__video-content
					p.for-whom__video-text
						span.for-whom__video-text.for-whom__video-text_bold Дети
						span.for-whom__video-text_normal , которые хотят быть важными и любимыми для своих родителей.
					p.for-whom__video-text
						span.for-whom__video-text.for-whom__video-text_bold Подростки
						span.for-whom__video-text_normal , которые жаждут понимания со стороны взрослых, уважения и веры в них.
					p.for-whom__video-text Ребенок узнает много нового и сможет найти ответы на вопросы: «Как найти себя?», «Как ставить цели и достигать их?», «Как общаться со сверстниками?» и многое другое.