section.gallery#gallery
	.head
		.head__title-block
			h2.head__title галерея
				.head__title.head__title_small фестиваля 
				
		.head__description
			.head__description-block.head__description-block_up
				.head__number 1000  
				.head__text участников
			
			.head__description-block
				.head__number 20
				.head__text стран мира

	.container
		ul.gallery__list
			li.gallery__item
				img.gallery__img(alt="фото из галереи"  src="")
				.gallery__icon
					+icon('loupe', 'gallery__icon-loupe')
			li.gallery__item
				img.gallery__img(alt="фото из галереи"  src="")
				.gallery__icon
					+icon('loupe', 'gallery__icon-loupe')
			li.gallery__item
				img.gallery__img(alt="фото из галереи"  src="")
				.gallery__icon
					+icon('loupe', 'gallery__icon-loupe')
			li.gallery__item
				img.gallery__img(alt="фото из галереи"  src="")
				.gallery__icon
					+icon('loupe', 'gallery__icon-loupe')
			li.gallery__item
				img.gallery__img(alt="фото из галереи"  src="")
				.gallery__icon
					+icon('loupe', 'gallery__icon-loupe')
			li.gallery__item
				img.gallery__img(alt="фото из галереи"  src="")
				.gallery__icon
					+icon('loupe', 'gallery__icon-loupe')
			li.gallery__item
				img.gallery__img(alt="фото из галереи"  src="")
				.gallery__icon
					+icon('loupe', 'gallery__icon-loupe')
			li.gallery__item
				img.gallery__img(alt="фото из галереи"  src="")
				.gallery__icon
					+icon('loupe', 'gallery__icon-loupe')
			li.gallery__item
				img.gallery__img(alt="фото из галереи"  src="")
				.gallery__icon
					+icon('loupe', 'gallery__icon-loupe')
			li.gallery__item
				img.gallery__img(alt="фото из галереи"  src="")
				.gallery__icon
					+icon('loupe', 'gallery__icon-loupe')
			li.gallery__item
				img.gallery__img(alt="фото из галереи"  src="")
				.gallery__icon
					+icon('loupe', 'gallery__icon-loupe')
			li.gallery__item
				img.gallery__img(alt="фото из галереи"  src="")
				.gallery__icon
					+icon('loupe', 'gallery__icon-loupe')
			