section.gallery#gallery(data-page="6")

	.head
		.head__title-block
			h2.head__title галерея
				.head__title.head__title_small фестиваля 
				
		.head__description
			.head__description-block.head__description-block_up
				.head__number 1000  
				.head__text участников
			
			.head__description-block
				.head__number 20
				.head__text стран мира



	.container
		ul.gallery__list
			li.gallery__item
				img.gallery__img(alt=""  src="img/gallery/arqpMUahr0.jpg")
				.gallery__icon
					+icon('loupe', 'gallery__icon-loupe')
			li.gallery__item
				img.gallery__img(alt=""  src="img/gallery/C0GO27PPqgM.jpg")
				.gallery__icon
					+icon('loupe', 'gallery__icon-loupe')
			li.gallery__item
				img.gallery__img(alt=""  src="img/gallery/EpQslXBg_5Y.jpg")
				.gallery__icon
					+icon('loupe', 'gallery__icon-loupe')
			li.gallery__item
				img.gallery__img(alt=""  src="img/gallery/fZ0bPUTv6Q0.jpg")
				.gallery__icon
					+icon('loupe', 'gallery__icon-loupe')
			li.gallery__item
				img.gallery__img(alt=""  src="img/gallery/FzaGLHNQ8F8.jpg")
				.gallery__icon
					+icon('loupe', 'gallery__icon-loupe')
			li.gallery__item
				img.gallery__img(alt=""  src="img/gallery/GwnjfJODt94.jpg")
				.gallery__icon
					+icon('loupe', 'gallery__icon-loupe')
			li.gallery__item
				img.gallery__img(alt=""  src="img/gallery/ieSEtU1EWlc.jpg")
				.gallery__icon
					+icon('loupe', 'gallery__icon-loupe')
			li.gallery__item
				img.gallery__img(alt=""  src="img/gallery/iJQZtqunMBk.jpg")
				.gallery__icon
					+icon('loupe', 'gallery__icon-loupe')
			li.gallery__item
				img.gallery__img(alt=""  src="img/gallery/joIoJdvXPJE.jpg")
				.gallery__icon
					+icon('loupe', 'gallery__icon-loupe')
			li.gallery__item
				img.gallery__img(alt=""  src="img/gallery/KnGywM44EMM.jpg")
				.gallery__icon
					+icon('loupe', 'gallery__icon-loupe')
			li.gallery__item
				img.gallery__img(alt=""  src="img/gallery/o_cz_ete_P0.jpg")
				.gallery__icon
					+icon('loupe', 'gallery__icon-loupe')
			li.gallery__item
				img.gallery__img(alt=""  src="img/gallery/pJE7Rkcfgyk.jpg")
				.gallery__icon
					+icon('loupe', 'gallery__icon-loupe')
			li.gallery__item
				img.gallery__img(alt=""  src="img/gallery/uQKKfssELKA.jpg")
				.gallery__icon
					+icon('loupe', 'gallery__icon-loupe')
			li.gallery__item
				img.gallery__img(alt=""  src="img/gallery/vIDvFMqwWhQ.jpg")
				.gallery__icon
					+icon('loupe', 'gallery__icon-loupe')
			li.gallery__item
				img.gallery__img(alt=""  src="img/gallery/xryIHary73U.jpg")
				.gallery__icon
					+icon('loupe', 'gallery__icon-loupe')
			