header.header
	button.hamburger.js-hamburger(type="button")
		.hamburger__item
	.container.container_header.js-menu
		nav.menu
			ul.menu__list
				li.menu__item
					a(href="#speakers").menu__link.menu__link_active спикеры
				li.menu__item
					a(href="#mission").menu__link миссия
				li.menu__item
					a(href="#for-whom").menu__link для кого
				li.menu__item
					a(href="#itwas").menu__link как это было
				li.menu__item
					a(href="#where-will").menu__link где будет
				li.menu__item
					a(href="#schedule").menu__link расписание
				li.menu__item
					a(href="#gallery").menu__link галерея
				li.menu__item
					a(href="#reviews").menu__link отзывы
				li.menu__item
					a(href="#price").menu__link стоимость
		.header__tel
			a.header__tel-link(href="tel:+74993501918") +7 499 350 19 18,
			a.header__tel-link(href="tel:+79782114500") +7 978 211 45 00
			