section.itwas#itwas(data-page="3")
	.container
		.itwas__row-up
			.itwas__video-big
				a.for-whom__video-link.js-modal-video(herf="#" data-video-id='wRw34J0mN_I')
	
			.itwas__content
				h2.itwas__title как это 
					.itwas__title-subtitle было
				p.itwas__text Вот уже 5 лет мы объединяем родителей, детей и учителей под эгидой фестиваля гуманной педагогики! Тысячам родителей по всему миру удалось увидеть,  что Воспитание может быть легким и гармоничными. И что секрет долгих, добрых и красивых отношений между родителями и детьми    открыт в идеях гуманной педагогики.  
				p.itwas__text Мы рады приветствовать постоянных участников и новых гостей.
				p.itwas__text Ждём с предвкушением встречи на новой площадке фестиваля в прекрасном черноморском Grand Hotel Kempinski  в городе Геленджике.
		.itwas__row-down
		
			.itwas__video
				a.for-whom__video-link.js-modal-video(herf="#" data-video-id='bArdOPOZnt4')
			.itwas__video
				a.for-whom__video-link.js-modal-video(herf="#" data-video-id='TtrNYZ5zZ4Y')
			.itwas__video
				a.for-whom__video-link.js-modal-video(herf="#" data-video-id='26flSglLXq4')
			