section.itwas#itwas
	.container
		.itwas__row-up
			.itwas__video.itwas__video_big
				a.for-whom__video-link(herf="#")
	
			.itwas__content
				h2.itwas__title как это 
					.itwas__title-subtitle было
				p.itwas__text Дом отдыха «Покровское» располагается на старинной земле Звенигорода, в «зеленой» зоне Московской области, на берегу озера с прозрачной родниковой водой. Всего в 40 км от Москвы.	
		
		.itwas__row-down
		
			.itwas__video
				a.for-whom__video-link(herf="#")
			.itwas__video
				a.for-whom__video-link(herf="#")
			.itwas__video
				a.for-whom__video-link(herf="#")
			