section.mission#mission(data-page="1")
	.mission__row
		h2.mission__title миссия
			span.mission__title_small фестиваля
		.mission__numbers
			.mission__numbers-col
				.mission__number.mission__number_five 5
				.mission__descr дней фестиваля 
			.mission__numbers-col
				.mission__number 30
				.mission__descr лучших педагогов-экспертов
			
	.mission__content
		h3.mission__content-title В ОСНОВЕ ФЕСТИВАЛЯ ЛЕЖАТ ИДЕИ ГУМАННОЙ ПЕДАГОГИКИ.
		p.mission__text Гуманная педагогика, источником которой является классическое педагогическое наследие, имеет такой глубочайший потенциал, постигая который и родители, и учителя смогут решить многие возникающие противоречивые проблемы, как семейного воспитания, так и государственного образования.
		p.mission__text Самая фундаментальная проблема гуманной педагогики – самосовершенствование.
	