section.mission#mission(data-page="1")
	.mission__row
		h2.mission__title миссия
			span.mission__title_small фестиваля
		.mission__numbers
			.mission__numbers-col
				.mission__number.mission__number_five 5
				.mission__descr дней фестиваля 
			.mission__numbers-col
				.mission__number 30
				.mission__descr лучших педагогов-экспертов
			
	.mission__content
		p.mission__text С 2013 года мы собираем на одной площадке легендарных учителей, чтобы превращать в реальность мечты о будущем детей.
		p.mission__text Мы стремимся дать детям лучшее образование и воспитание. Мечтаем видеть их счастливыми и успешными.
		p.mission__text Великие учителя - от Сократа и Платона до Льва Толстого и Шалвы Амонашвили убеждены, что образование детей- это в первую очередь воспитание себя. Поэтому вместе с детьми мы приглашаем на фестиваль мам и пап, бабушек и дедушек, учителей и учеников. Чтобы с любовью создавать питательную среду для расцветания в нас и наших детях самых лучших качеств Человека. Учиться быть творческими и счастливыми друг с другом. И улучшать мир вокруг себя.
		p.mission__text Событие года о счастливом воспитании родителей, учителей и детей.