.modal.speakerOffer
.modal__inner
	button.modal__close(type="button")
	form.speakerOffer-form#speakerOffer-form
		input.promo-form__input(type="text" placeholder="Ваше ФИО" name="promo-form-name" id="promo-form-name")
		input.promo-form__input(type="text" placeholder="Ваш e-mail" name="promo-form-mail" id="promo-form-mail")
		input.promo-form__input(type="text" placeholder="Ваш телефон" name="promo-form-tel" id="promo-form-tel")

		button.speakerOffer_btn(type="submit") оставить заявку