.modal.speakerOffer
.modal__inner.speakerOffer__inner
	button.modal__close(type="button")
	p.speakerOffer__text.modal__text
	form.modal__form.speakerOffer-form#speakerOffer-form
		input.modal__input(type="text" placeholder="Ваше имя" name="offer-speaker-name" id="offer-speaker-name")
		input.modal__input(type="text" placeholder="Ваш e-mail" name="offer-speaker-mail" id="offer-speaker-mail")
		input.modal__input(type="tel" placeholder="Ваш телефон" name="offer-speaker-tel" id="offer-speaker-tel")
		input.modal__input(type="text" placeholder="Имя спикера" name="offer-speaker-speaker-name" id="offer-speaker-speaker-name")
		input.modal__input(type="text" placeholder="Ссылка на социальные сети спикера" name="offer-speaker-speaker-social" id="offer-speaker-speaker-social")

		button.modal__btn(type="submit") оставить заявку

		p.form__text Нажимая кнопку, я даю свое согласие на обработку моих персональных данных в соответствии с 
			a.promo-form-link(href="https://www.vospitai.com/privacy_policy_phuz_2018.pdf" target="_blank") политикой конфиденциальности и 
			a.promo-form-link(href="https://www.vospitai.com/public_offer_phuz_2018.pdf" target="_blank") пользовательским соглашением.

.modal.getProgram
.modal__inner.getProgram__inner
	button.modal__close(type="button")
	p.getProgram__text.modal__text
	form.modal__form.getProgram-form#getProgram-form
		input.modal__input(type="text" placeholder="Ваша фамилия" name="get-program-surname" id="get-program-surname")
		input.modal__input(type="text" placeholder="Ваше имя" name="get-program-name" id="get-program-name")
		input.modal__input(type="text" placeholder="Ваш e-mail" name="get-program-mail" id="get-program-mail")
		input.modal__input(type="tel" placeholder="Ваш телефон" name="get-program-tel" id="get-program-tel")

		button.modal__btn(type="submit") оставить заявку 

		p.form__text Нажимая кнопку, я даю свое согласие на обработку моих персональных данных в соответствии с 
			a.promo-form-link(href="https://www.vospitai.com/privacy_policy_phuz_2018.pdf" target="_blank") политикой конфиденциальности и 
			a.promo-form-link(href="https://www.vospitai.com/public_offer_phuz_2018.pdf" target="_blank") пользовательским соглашением.

.modal.registration
.modal__inner.registration__inner
	button.modal__close(type="button")
	p.registration__text.modal__text
	form.modal__form.registration-form#registration-form
		input.modal__input(type="text" placeholder="Ваша фамилия" name="registration-surname" id="registration-surname")
		input.modal__input(type="text" placeholder="Ваше имя" name="registration-name" id="registration-name")
		input.modal__input(type="text" placeholder="Ваш e-mail" name="registration-mail" id="registration-mail")
		input.modal__input(type="tel" placeholder="Ваш телефон" name="registration-tel" id="registration-tel")

		button.modal__btn(type="submit") оставить заявку

		p.form__text Нажимая кнопку, я даю свое согласие на обработку моих персональных данных в соответствии с 
			a.promo-form-link(href="https://www.vospitai.com/privacy_policy_phuz_2018.pdf" target="_blank") политикой конфиденциальности и 
			a.promo-form-link(href="https://www.vospitai.com/public_offer_phuz_2018.pdf" target="_blank") пользовательским соглашением.