.preloader
	.preloader__inner
		ul.preloader__list
			li.preloader__item 1
			li.preloader__item 2	
			li.preloader__item 3
			li.preloader__item 4
			li.preloader__item 5
			li.preloader__item 6
			li.preloader__item 7
			li.preloader__item 8
			li.preloader__item 9
			li.preloader__item 10
			li.preloader__item 11
			li.preloader__item 12
			li.preloader__item 13
			li.preloader__item 14
			li.preloader__item 15