form.promo-form#promo-form
	
	h2.promo-form__title Регистрация
	label.promo-form__label
		input.promo-form__input(type="text" placeholder="Ваше ФИО" name="promo-form-name" id="promo-form-name")
	label.promo-form__label
		input.promo-form__input(type="text" placeholder="Ваш e-mail" name="promo-form-mail" id="promo-form-mail")
	label.promo-form__label
		input.promo-form__input(type="text" placeholder="Ваш телефон" name="promo-form-tel" id="promo-form-tel")
	
	button.promo-form__btn(type="submit") оставить заявку

	label.promo-form__label.promo-form__label_checkbox
		span.promo-form-text Нажимая кнопку, я даю свое согласие на обработку моих персональных данных в соответствии с 
			a.promo-form-link(href="https://www.vospitai.com/privacy_policy_phuz_2018.pdf" target="_blank") политикой конфиденциальности и 
			a.promo-form-link(href="https://www.vospitai.com/public_offer_phuz_2018.pdf" target="_blank") пользовательским соглашением.