form.promo-form
	label.promo-form__label Ваше ФИО
		input.promo-form__input(type="text")
	label.promo-form__label ваш e-mail
		input.promo-form__input(type="text")
	label.promo-form__label ваш телефон 
		input.promo-form__input(type="text")
	label.promo-form__label.promo-form__label_checkbox
		input.promo-form__checkbox(type="checkbox")
		span.promo-form-text Нажимая кнопку, я даю свое согласие на обработку моих персональных данных в соответствии с 
		a.promo-form-link(href="https://www.vospitai.com/privacy_policy_phuz_2018.pdf" target="_blank") политикой конфиденциальности 
		span.promo-form-text и	
		a.promo-form-link(href="https://www.vospitai.com/public_offer_phuz_2018.pdf" target="_blank") пользовательским соглашением.
		
	button.promo-form__btn(type="submit") оставить заявку