section.promo
	include header.pug
	.promo__content
		img.promo__logo(alt="" src="img/new_logo.png")
		h1.promo__text ГЛАВНОЕ СОБЫТИЕ ГОДА ПО ВОСПИТАНИЮ <span>СЧАСТЛИВЫХ И УСПЕШНЫХ ДЕТЕЙ!</span>
		p.promo__date 2-7 НОЯБРЯ 2018
		p.promo__place <span>Kempinski Grand Hotel</span> <br>(Геленджик)
	.promo__form
		include promo-form.pug
	