section.promo
	include header.pug
	.promo__content
		.logo_wrapper
			img.promo__newlogo.promo__logo-rozetka(alt="" src="img/promo/logo_rozetka.png")
			img.promo__newlogo.promo__logo-text(alt="" src="img/promo/logo_text.png")
		h1.promo__text ГЛАВНОЕ СОБЫТИЕ ГОДА ПО ВОСПИТАНИЮ <span>СЧАСТЛИВЫХ И УСПЕШНЫХ ДЕТЕЙ!</span>
		p.promo__date 2-7 НОЯБРЯ 2018
		p.promo__place Kempinski Grand Hotel 
		p.promo__place (Геленджик)

		button.promo-form__btn.js-registration-btn(type="submit") оставить заявку
		 
	.promo__form
		include promo-form.pug
	