section.promo
	include header.pug
	.promo__content
		.promo__date 2-7 НОЯБРЯ
		.promo__text.promo__text_opacity Дом отдыха "Покровское"
		h1.promo__title воспитай 
		.promo__description 5-й международный фестиваль гуманной педагогики
		h2.promo__text ГЛАВНОЕ СОБЫТИЕ ГОДА ПО ВОСПИТАНИЮ УСПЕШНЫХ И СЧАСТЛИВЫХ ДЕТЕЙ
	.promo__form
		include promo-form.pug
	