section.reviews#reviews(data-page="7")
	.head.head_reviews
		.head__title-block
			h2.head__title отзывы
				.head__title.head__title_small участников 
				
		.head__description
			.head__description-block.head__description-block_up
				.head__number 40  
				.head__text мастер-классов
			
			.head__description-block
				.head__number 20
				.head__text лекций
			

	.reviews__block
		.reviews__img-block
			.rewiews__img
				img.rewiews__big-img(alt="" src="img/rewiews/review_3.jpeg" )
			.reviews__slider
				.reviews__slide
					img.reviews__slide-img(alt="" src="img/rewiews/review_3.jpeg" data-slideRew="0")
					h3.reviews__slide-name Андрей и Екатерина Векшины
					.reviews__slide-position г. Горячий Ключ
					.reviews__slide-comment Фестиваль гуманной педагогики отличается от всего, что мы видели и где побывали раньше. За 5 дней мы наполнились детским смехом, юношеской рассудительностью и родительской любовью. Удивительно было наблюдать как размышляют и действуют ребята в непринужденной атмосфере доверия, которая царит на фестивале. Пожалуй, самым любимым действием для нас были открытые встречи, на которых дети со сцены рассказывали взрослым о своих переживаниях и о том как они видят жизнь. Огромная благодарность учителям и педагогам, которые делятся своей мудростью и любовью к детям на протяжении фестиваля. Мы зарядились на весь год светлыми эмоциями и вдохновением. С нетерпением ждём новой встречи с уже такими родными участниками и организаторами фестиваля.
				.reviews__slide
					img.reviews__slide-img(alt="" src="img/rewiews/review_18.jpg" data-slideRew="1")
					h3.reviews__slide-name Даша Берюк
					.reviews__slide-position г. Минск
					.reviews__slide-comment Фестиваль многому научил меня! Помог взглянуть на привычные вещи новыми глазами. Рассказывая о воспитании детей, лекторы помогли мне лучше понять себя и то, какими красивыми и созидательными могут быть отношения с детьми и также со взрослыми. Лекторы фестиваля очень щедрые люди. И есть ощущение, что просто находясь рядом с ними, становишься лучше. Наполнение фестиваля и его атмосфера - это хорошая почва для раскрытия, познания, роста гармоничной личности. Желаю всем поучаствовать в этом Празднике!
				.reviews__slide
					img.reviews__slide-img(alt="" src="img/rewiews/review_5.jpeg" data-slideRew="2")
					h3.reviews__slide-name Настя Краславская
					.reviews__slide-position г. Ростов-на-Дону
					.reviews__slide-comment На осенних каникулах я была на фестивале в Подмосковье. Он был просто необыкновенный! Большая благодарность всем организаторам и почётным гостям!  Это четвертый фестиваль гуманной педагогики, который носит название "Фейерверк уроков жизни".И оно полностью соответствует фестивалю! У меня здесь было много важных реализаций.  На фестивале  были замечательные  учителя - Шалва Амонашвили, Паата Амонашвили, Марина Таргакова, Олег Гадецкий, Сергей Аваков со своей семьёй, Алексей Бабаянц, Игорь Киршин, Рами Блект, мать более 1050 детей - матушка Синдутай и другие невероятные  личности. И самое удивительное - то, что каждый  может с ними открыто общаться! Здесь я познакомилась с детским, молодёжным объединением ,,Молодая гвардия". Они очень искренние, радостные и классные ребята! Когда видишь их - на лице появляется улыбка, появляется радость, которой хочется делиться со всеми. Дорогие Гатам, Айдар, Максим, Клим, Лера, Юля, Лиза, Ангелина, Аня, Мари спасибо вам большое! Теперь у меня есть ещё большее вдохновение и радость каждому дню.
				.reviews__slide
					img.reviews__slide-img(alt="" src="img/rewiews/review_21.png" data-slideRew="3")
					h3.reviews__slide-name Артем Мельник
					.reviews__slide-position 
					.reviews__slide-comment Фест был веселый, хотя я ни с кем не общался почти, классно проводили время вместе, были интересные лекции. Получил много полезного, как на лекциях, так и в свободное время. Особенно хочется отметить:Сабину, Данила, Артемку, Бориса. Спасибо за эти дни!!! Советую всем приехать на этот фест еще раз в след. году, думаю будет еще круче... Мб приглашу друзей!! Всем спасибо!!
				.reviews__slide
					img.reviews__slide-img(alt="" src="img/rewiews/review_1.jpeg" data-slideRew="4")
					h3.reviews__slide-name Наталья и Константин Валеевы
					.reviews__slide-position г. Кременная
					.reviews__slide-comment Мы с семьей были на фестивале несколько раз, и это очень сильно повлияло на нашу жизнь! Я чувствовала, что это именно то место и те процессы, в которых я хотела бы находиться. И так много позитивной, творческой энергии! Знаний, поражающих своей глубиной! Добрых лиц добрых людей! Своих внутренних открытий! И ДЕТИ, которые счастливы!!! Это чудесно!!! Я обязательно постараюсь приехать и в этом году на фестиваль.
				.reviews__slide
					img.reviews__slide-img(alt="" src="img/rewiews/review_4.jpeg" data-slideRew="5")
					h3.reviews__slide-name Владимир и Наталья Морозовы
					.reviews__slide-position г. Минск
					.reviews__slide-comment Фестиваль гуманной педагогики - это удивительное место, наполненное знаниями,  радостью и друзьями. Уже на протяжении нескольких лет мы приезжаем на фестиваль и чувствуем, что наши сердца меняются. Соприкасаясь с Учителями, мастерами и лекторами фестиваля мы получаем большой практический опыт, который сразу влияет на нас. В прошлом году фестиваль помог нам остановиться и увидеть себя, как родителей со стороны. А также по-настоящему увидеть нашего сына. Однажды вечером, после лекции, уложив сына спать, мы лежали рядом с ним, смотрели на него сладкого, спящего, и задали себе вопросы: «А что он скажет о своем детстве, когда вырастет? Скажет ли он, что был счастлив? Достаточно ли ему было нашего внимания или он не видел нас, пока мы были заняты «очень важными» делами?». И благодаря всем Учителям на фестивале, мы поняли, что нельзя разделять «нас или наше дело» и «ребенка», а быть вместе в этом удивительном процессе жизни. И нужно обязательно включать в этот процесс ребенка, наполняя жизнь семьи радостью, простыми смешными моментами, сокровенными разговорами, которые запомнит сердце ребенка, семейными прогулками к реке, добрыми подарками, встречей гостей, неожиданными сладостями, совместной учебой, а также верой в Добро и Свет. Спасибо Фестивалю за это глубокое осознание, которое делает нашу семью счастливее.
				.reviews__slide
					img.reviews__slide-img(alt="" src="img/rewiews/review_20.jpg" data-slideRew="6")
					h3.reviews__slide-name Виталий Лоренцевич и Ирина Александровна Аваковы
					.reviews__slide-position 
					.reviews__slide-comment Все фестивали, посвященные гуманной педагогике, принципиальным проводником которых является Шалва Александрович Амонашвили, представляют собой удивительный сказочный мир. Эти события собирают не только педагогов со всей России и многих других стран, но и людей, неравнодушных к современному состоянию педагогики. В выступлениях самого Ш. А. Амонашвили, Марины Таргаковой, Марины Шишовой и многих других педагогов-экспертов отражены потенциальные возможности высококачественного обучения и воспитания подрастающего поколения, основанного на гуманно-личностном подходе. Мы с супругой являемся педагогами-пенсионерами, проработали в школе более 30 лет. С большим удовольствием мы посещаем этот фестиваль и всегда обогащаемся новыми знания, новым опытом и большим вдохновением, способствующим воспитанию наших внуков. Мы ратуем за то, чтобы такие программы стали постоянно действующим фактором педагогической жизни нашей страны. 
				.reviews__slide
					img.reviews__slide-img(alt="" src="img/rewiews/review_22.png" data-slideRew="7")
					h3.reviews__slide-name Александр Усанин
					.reviews__slide-position г. Москва
					.reviews__slide-comment В детстве человек получает первые и наиболее важные представления о целях и ценностях жизни, о отношениях между людьми, что формирует его внутренний мир, его личные смыслы и то, как он будет относиться к другим, какой будет вся его жизнь. Счастливы те дети, которым посчастливилось увидеть примеры возвышенной жизни и уважительное отношение к себе как индивидуальной, пусть даже пока ещё маленькой, но всё же уникальной, потенциально способной изменить к лучшему весь этот мир, личности. То, каким  будет будущее этой планеты, наше ближайшее будущее - зависит от того, кто, как, на каких ориентирах и ценностях воспитывает наших детей. Поэтому педагог - тот, кто программирует будущее этой планеты. Поэтому этот фестиваль очень важен: на нём те, кто хотят повлиять на жизни детей делятся важным и уникальным педагогическим опытом: как это очень тактично и бережно делать. Такой Фестиваль - это забота о людях, которые помогают детям, как нежному прекрасному бутону раскрыться в лучах их любви, чтобы цвести и принести сладкий плод в виде счастливой и чистой возвышенной жизни.
				.reviews__slide
					img.reviews__slide-img(alt="" src="img/rewiews/review_6.jpeg" data-slideRew="8")
					h3.reviews__slide-name Андрей и Виктория Подкользины
					.reviews__slide-position г. Москва
					.reviews__slide-comment Так здорово, что есть Фестиваль, который знакомит с увлекательным и разнообразным миром педагогики! Время Фестиваля - это время, которое зажигает сердца и вдохновляет на новые свершения каждого, попавшего в атмосферу синтеза любви и знаний!
				.reviews__slide
					img.reviews__slide-img(alt="" src="img/rewiews/review_8.jpeg" data-slideRew="9")
					h3.reviews__slide-name Максим Орел
					.reviews__slide-position Германия
					.reviews__slide-comment Фестиваль гуманной педагогики - это опыт, который невозможно передать словами, каждый человек должен сам прочувствовать атмосферу Города Солнца. Город Солнца - это не выдумка, это не утопическое представление, это совместное настроение, в котором каждый может принять участие. Опыт фестиваля удивителен тем, что находясь в этом благостном настроении, находясь в общении с выдающимися педагогами современности, начинают открываться сердца. Меняются взгляды на людей, на родных, близких, меняется взгляд на мир. Для меня, как обычного подростка, по новому открылись родители (возможно, они не такие ужасные, как кажутся в таком возрасте). Фестиваль стал для меня возможностью познакомиться с единомышленниками, с ровесниками, почувствовать настоящую дружбу, возможностью провести время с семьей, возможностью пообщаться с учителями, ведь каждая проведенная с ними секунда на вес золота, и запомниться на всю жизнь.
				.reviews__slide
					img.reviews__slide-img(alt="" src="img/rewiews/review_7.jpeg" data-slideRew="10")
					h3.reviews__slide-name Валерия
					.reviews__slide-position г Омск
					.reviews__slide-comment Для меня, как для подростка, фестиваль стал незабываемым путешествием в настоящий Город Солнца, где я повстречала друзей, даже поучаствовала в организации некоторых мероприятий вместе с другими ребятами, а главное - встретилась с мудрыми, счастливыми взрослыми. Только ради того, чтобы увидеть Шалву Александровича, встретить его любящий и искрящийся светом взгляд,  познакомиться со многими педагогами и подружиться с ними, стоит ехать на фестиваль! Стоит ехать на фестиваль ради того, чтобы научиться никогда не стареть и, как ребёнок, верить в чудеса, удивляясь каждому мгновению жизни!
				.reviews__slide
					img.reviews__slide-img(alt="" src="img/rewiews/review_9.jpeg" data-slideRew="11")
					h3.reviews__slide-name Ангелина Денисова
					.reviews__slide-position г. Алматы
					.reviews__slide-comment Фестиваль - удивительно путешествие в Город Солнца. Я окунулась в небывалую атмосферу счастья. Фестиваль - это уникальнейшая возможность встретиться с настоящими Учителями. Они совсем не скучные, а наоборот. Невозможно было расстаться с ними без слез. Но я увезла фестиваль в своём сердце, где он надежно поселился. Фестиваль - это просто страна детства, где даже я, не такой уж и взрослый человек, научилась заново изумляться, удивляться, поражаться! В общем, друзья, не теряйте ни секунды, спешите на фестиваль!!
				.reviews__slide
					img.reviews__slide-img(alt="" src="img/rewiews/review_16.jpeg" data-slideRew="12")
					h3.reviews__slide-name Лиза Денисова
					.reviews__slide-position г. Алматы
					.reviews__slide-comment Фестиваль гуманной педагогики стал для меня очень особенным событием. Абсолютно каждый день, проведенный там, даёт возможность научиться проживать день, как одну жизнь. Атмосфера фестиваля пропитана любовью и желанием людей помочь, будто бы все, попав туда, становятся одной семьей, где каждый житель города Солнца важен и нужен. Король и Министры города Солнца - это учителя, которые помогают открывать новые и прекрасные сундуки знаний гуманной педагогики, они помогают нам самим измениться в лучшую сторону и узнать что-то новое. Попав туда однажды, не захочется покидать этот изумительный город, где каждый день наполнен любовью, доверием и искренностью людей.
				.reviews__slide
					img.reviews__slide-img(alt="" src="img/rewiews/review_2.jpeg" data-slideRew="13")
					h3.reviews__slide-name Вероника Гаркуша
					.reviews__slide-position Украина
					.reviews__slide-comment Я была на фестивале несколько раз, и всегда попадала в чудесную атмосферу сотрудничества взрослых с детьми. Получила полезные знания и познакомилась с замечательными людьми, во время каждого фестиваля открывая для себя что-то новое!!!
				.reviews__slide
					img.reviews__slide-img(alt="" src="img/rewiews/review_17.jpeg" data-slideRew="14")
					h3.reviews__slide-name Милана
					.reviews__slide-position г. Алматы
					.reviews__slide-comment Была на фестивале с семьёй в 2015 году. Первое ощущение, когда приехали на фестиваль, как-будто попали в добрую сказку). Нас очень радушно встречали, для детей была организована специальная зона, где они могли играть пока родители проходили процедуру регистрации, а ещё детям дарили бумажных зайчиков с конфеткой внутри, от чего те были очень счастливы! Больше всего на фестивале запомнилась атмосфера семьи и внимательности к каждому, соприкосновение с учителями, которые щедро делились своими знаниями и проводили потрясающие лекции и практические занятия. Практические занятия это вообще отдельная история! В реальном формате видишь как рождается гуманная педагогика и сам на время становишься ребенком! Особая благодарность детскому департаменту за организацию очень классной программы! Сын с удовольствием ходил на нее, пока мы были на лекции. Отличный фестиваль, где есть возможность познакомиться с единомышленниками, пообщаться с учителями, напитаться знаниями и вдохновением!
				.reviews__slide
					img.reviews__slide-img(alt="" src="img/rewiews/review_19.jpg" data-slideRew="15")
					h3.reviews__slide-name Семья Саламатовых, Анжела и Александр
					.reviews__slide-position г. Москва
					.reviews__slide-comment Фестиваль гуманной педагогики — это не просто фестиваль, не просто место… Это атмосфера, это увлеченные люди, это поток любви, тепла, дружественности, поиска смыслов и любви в своем сердце! Одним словом, Фейерверк! Этот удивительное пространство, объединяющее наставников, педагогов, родителей и конечно детей! Где дети - активные участники образовательного процесса для взрослых. Здесь сеются зерна радости познания другого, понимания между взрослыми и детьми, способности строить настоящие отношения, видеть в другом личность или явление! Это целый мир, преображающий сердца участников через общение с великими мастерами, учителями, с другими участниками фестиваля и конечно детьми! Здесь все создано для сотворчества, преображения, раскрытия сердца и получения ценных знаний! Мы желаем каждому оказаться на этом чудотворном семейном фестивале! 


		
		
		.reviews__content-block
			.reviews__content
				h3.reviews__name Андрей и Екатерина Векшины
				.reviews__position г. Горячий Ключ
				.reviews__comment Фестиваль гуманной педагогики отличается от всего, что мы видели и где побывали раньше. За 5 дней мы наполнились детским смехом, юношеской рассудительностью и родительской любовью. Удивительно было наблюдать как размышляют и действуют ребята в непринужденной атмосфере доверия, которая царит на фестивале. Пожалуй, самым любимым действием для нас были открытые встречи, на которых дети со сцены рассказывали взрослым о своих переживаниях и о том как они видят жизнь. Огромная благодарность учителям и педагогам, которые делятся своей мудростью и любовью к детям на протяжении фестиваля. Мы зарядились на весь год светлыми эмоциями и вдохновением. С нетерпением ждём новой встречи с уже такими родными участниками и организаторами фестиваля.			



				
		