ul.schedule__list

	li.schedule__item

		.schedule__time-item 8:00
		.schedule__activity-item
			h3.schedule__activity-title зарядка для бодрости

			.schedule__activity-time 8:00 - 10:00
				+icon('clock', 'shedule__icon-clock')
			.schedule__activity-types Рыбный текст. Почему он называется рыбным? Не знаю. Но так или иначе это именно он.