section.friends#friends
	h2.friends__title наши партнеры
	
	ul.friends__list
		li.friends__item
			img.friends__logo(alt="иконка спонсора" src="img/sponsors/ico_exp_logo.png")
		li.friends__item
			img.friends__logo(alt="иконка спонсора" src="img/sponsors/aquaris_logo.png")
		li.friends__item
			img.friends__logo(alt="иконка спонсора" src="img/sponsors/mda_logo.png")
		li.friends__item
			img.friends__logo(alt="иконка спонсора" src="img/sponsors/meetup_logo.png")
		li.friends__item
			img.friends__logo(alt="иконка спонсора" src="img/sponsors/kweb_logo.png")
			
		li.friends__item
			img.friends__logo(alt="иконка спонсора" src="img/sponsors/ico_exp_logo.png")
		li.friends__item
			img.friends__logo(alt="иконка спонсора" src="img/sponsors/aquaris_logo.png")
		li.friends__item
			img.friends__logo(alt="иконка спонсора" src="img/sponsors/mda_logo.png")
		li.friends__item
			img.friends__logo(alt="иконка спонсора" src="img/sponsors/meetup_logo.png")
		li.friends__item
			img.friends__logo(alt="иконка спонсора" src="img/sponsors/kweb_logo.png")
		
		
	