section.where-will#where-will(data-page="4")
	.container.container_where-will
		.where-will__content
			h2.where-will__title ГДЕ ПРОЙДЕТ 
				.where-will__subtitle ФЕСТИВАЛЬ
			p.where-will__text Дом отдыха «Покровское» располагается на старинной земле Звенигорода, в «зеленой» зоне Московской области, на берегу озера с прозрачной родниковой водой. Всего в 40 км от Москвы. Воздух напоен эфиром сосновой хвои, лесных трав и цветов
			p.where-will__text А еще спортивная база, оборудованные волейбольные, баскетбольные и футбольные площадки, теннисные корты, гимнастические залы, залы для спортивных и бальных танцев, а также залы для различных видов единоборств, с профессиональным оборудованием, рингами и татами.
			p.where-will__text На территории дома отдыха располагается 48 комфортабельных коттеджей̆ и 17 уютных дач вместимостью от 2 до 8 человек, 6 благоустроенных корпусов от эконом-класса до VIP, 3 современных таунхауса.
			
		.where-will__slider
			img.where-will__slide(src="img/where-will/slide-1.jpg" alt="slide 1")
			img.where-will__slide(src="img/where-will/slide-2.jpg" alt="slide 2")
			img.where-will__slide(src="img/where-will/slide-3.jpg" alt="slide 3")