section.where-will#where-will(data-page="4")
	.head.head_where-will
		.head__title-block
			h2.head__title ГДЕ ПРОЙДЕТ
				.head__title.head__title_small ФЕСТИВАЛЬ 

	.where-will__block
		.where-will__slider
			img.where-will__slide(alt="" src="img/where-will/slide-1.png" data-slideRew="0")
			img.where-will__slide(alt="" src="img/where-will/slide-2.png" data-slideRew="1")
			img.where-will__slide(alt="" src="img/where-will/slide-3.png" data-slideRew="2")
			img.where-will__slide(alt="" src="img/where-will/slide-4.png" data-slideRew="2")
		
		
		.where-will__content-block
			.where-will__content.where-will__content_active
				.where-will__comment Курортный отель премиум-класса расположен на первой линии побережья Чёрного моря. К услугам Гостей доступны:
				ul
					li • 379 номеров, включая 44 люкса
					li • 7 бунгало
					li • 2 ресторана и 4 бара
					li • Конгресс-центр
					li • Спа-центр «Кемпински Спа», Фито-бар
					li • Фитнес – центр и тренажерный зал
					li • Открытые и крытый бассейны
					li • Спортивная площадка
					li • Теннисные корты
					li • Благоустроенная территория
					li • Парковка

			.where-will__content
				.where-will__comment Комфортабельные номера отеля премиум класса примут гостей фестиваля. Осенние каникулы наполненные романтикой теплого семейного отдыха.

			.where-will__content
				.where-will__comment Главная площадка Конгресс-центра предназначен для масштабных конгрессов, деловых сессий, концертов, кинопоказов. Именно здесь пройдет главное событие фестиваля, где Вас ждет встреча с ведущими педагогами мира и рядом ярких гостей имена которых пока остаются в секрете.

			.where-will__content
				.where-will__comment Живописная бухта, окаймленная знаменитой набережной, восхитительные морские и горные пейзажи, зеленые склоны, покрытые рощами пицундской сосны, исключительная экология и современное благоустройство курорта, широкая палитра развлечений в сочетании с превосходным сервисом способствуют прекрасному отдыху круглый год год. Отдых в Геленджике – это прекрасная возможность насладиться живописными пейзажами Юга России и посетить множество уникальных мест.