section.where-will#where-will(data-page="4")
	.head.head_where-will
		.head__title-block
			h2.head__title ГДЕ ПРОЙДЕТ
				.head__title.head__title_small ФЕСТИВАЛЬ 

	.where-will__block
		.where-will__img-block
			.where-will__bigimg
				img.where-will__slide-bigimg(alt="" src="img/where-will/slide-1.png" )
				.where-will__arrow-left#left
				.where-will__arrow-right#right
			.where-will__slider
				.where-will__slide
					img.where-will__img-slide(alt="" src="img/where-will/slide-1.png" )
					.where-will__comment-slide 
						h3.where-will__slide-name Kempinski Grand Hotel
						span Курортный отель премиум-класса расположен на первой линии побережья Чёрного моря. К услугам Гостей доступны:
						ul.where-will__list-slide
							li • 379 номеров, включая 44 люкса
							li • 7 бунгало
							li • 2 ресторана и 4 бара
							li • Конгресс-центр
							li • Спа-центр «Кемпински Спа», Фито-бар
							li • Фитнес – центр и тренажерный зал
							li • Открытые и крытый бассейны
							li • Спортивная площадка
							li • Теннисные корты
							li • Благоустроенная территория
							li • Парковка

				.where-will__slide
					img.where-will__img-slide(alt="" src="img/where-will/slide-2.png" )
					.where-will__comment-slide
						h3.where-will__slide-name Kempinski Grand Hotel
						span Комфортабельные номера отеля премиум класса примут гостей фестиваля. Осенние каникулы наполненные романтикой теплого семейного отдыха.
				.where-will__slide
					img.where-will__img-slide(alt="" src="img/where-will/slide-3.png" )
					.where-will__comment-slide
						h3.where-will__slide-name Kempinski Grand Hotel
						span Главная площадка Конгресс-центра предназначен для масштабных конгрессов, деловых сессий, концертов, кинопоказов. Именно здесь пройдет главное событие фестиваля, где Вас ждет встреча с ведущими педагогами мира и рядом ярких гостей имена которых пока остаются в секрете.
				.where-will__slide
					img.where-will__img-slide(alt="" src="img/where-will/slide-4.png" )
					.where-will__comment-slide
						h3.where-will__slide-name Kempinski Grand Hotel
						span Живописная бухта, окаймленная знаменитой набережной, восхитительные морские и горные пейзажи, зеленые склоны, покрытые рощами пицундской сосны, исключительная экология и современное благоустройство курорта, широкая палитра развлечений в сочетании с превосходным сервисом способствуют прекрасному отдыху круглый год год. Отдых в Геленджике – это прекрасная возможность насладиться живописными пейзажами Юга России и посетить множество уникальных мест.
		
		
		.where-will__content-block
			.where-will__content
				.where-will__comment
					
				